nifi_definitions/csv_ingestion.json
{
    "flowContents": {
        "identifier": "59459370-56a2-3111-97ef-c8cf2de3279b",
        "instanceIdentifier": "44d41c41-019d-1000-6329-8c1ddfcba562",
        "name": "CSV Ingestion",
        "comments": "",
        "position": {
            "x": 0.0,
            "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "d1884495-93a3-33eb-8d27-c89e7f86c2bd",
                "instanceIdentifier": "462c2b75-019d-1000-08f1-d2953564731b",
                "name": "UpdateDatabaseTable",
                "comments": "",
                "position": {
                    "x": -168.0,
                    "y": -88.0
                },
                "type": "org.apache.nifi.processors.standard.UpdateDatabaseTable",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Table Name": "${table.name}",
                    "Quote Column Identifiers": "true",
                    "Column Name Translation Pattern": null,
                    "Update Field Names": "false",
                    "Database Connection Pooling Service": "95fd6014-f135-3491-b080-273b8eeb2a6d",
                    "Record Reader": "798f49ca-d5ec-3797-be2f-dd553dd1e7aa",
                    "Catalog Name": "warehouse",
                    "Create Table Strategy": "Create If Not Exists",
                    "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
                    "Quote Table Identifiers": "true",
                    "Schema Name": "public",
                    "Query Timeout": "0",
                    "Primary Key Fields": null,
                    "Database Type": "PostgreSQL",
                    "Record Writer": null,
                    "Translate Field Names": "true",
                    "Database Dialect Service": null
                },
                "propertyDescriptors": {
                    "Table Name": {
                        "name": "Table Name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Column Identifiers": {
                        "name": "Quote Column Identifiers",
                        "displayName": "Quote Column Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Column Name Translation Pattern": {
                        "name": "Column Name Translation Pattern",
                        "displayName": "Column Name Translation Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Update Field Names": {
                        "name": "Update Field Names",
                        "displayName": "Update Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Catalog Name": {
                        "name": "Catalog Name",
                        "displayName": "Catalog Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Create Table Strategy": {
                        "name": "Create Table Strategy",
                        "displayName": "Create Table Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Column Name Translation Strategy": {
                        "name": "Column Name Translation Strategy",
                        "displayName": "Column Name Translation Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Table Identifiers": {
                        "name": "Quote Table Identifiers",
                        "displayName": "Quote Table Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Query Timeout": {
                        "name": "Query Timeout",
                        "displayName": "Query Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Primary Key Fields": {
                        "name": "Primary Key Fields",
                        "displayName": "Primary Key Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Type": {
                        "name": "Database Type",
                        "displayName": "Database Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Writer": {
                        "name": "Record Writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Translate Field Names": {
                        "name": "Translate Field Names",
                        "displayName": "Translate Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Dialect Service": {
                        "name": "Database Dialect Service",
                        "displayName": "Database Dialect Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "c263ff5a-d888-3d32-9e42-370df15c43c9",
                "instanceIdentifier": "461a46af-019d-1000-4912-66f5f15706e6",
                "name": "GetFile",
                "comments": "",
                "position": {
                    "x": -168.0,
                    "y": -472.0
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Keep Source File": "false",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "30 sec",
                    "Input Directory": "/inbox",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "true",
                    "File Filter": "[^\\.].*\\.csv",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "16f884ed-7ba0-3007-9471-15bd42a18b96",
                "instanceIdentifier": "461ae684-019d-1000-4592-fbcdc06d634a",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": -472.0,
                    "y": 600.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "Attributes to Ignore Regular Expression": null,
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false",
                    "Log Prefix": null,
                    "Character Set": "UTF-8",
                    "Attributes to Log Regular Expression": ".*"
                },
                "propertyDescriptors": {
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore Regular Expression": {
                        "name": "Attributes to Ignore Regular Expression",
                        "displayName": "Attributes to Ignore Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Prefix": {
                        "name": "Log Prefix",
                        "displayName": "Log Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log Regular Expression": {
                        "name": "Attributes to Log Regular Expression",
                        "displayName": "Attributes to Log Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "621b6a01-3155-32f9-9565-18b1c02b8558",
                "instanceIdentifier": "462c8506-019d-1000-0e64-53dcece4c81c",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": -512.0,
                    "y": 160.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "Attributes to Ignore Regular Expression": null,
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false",
                    "Log Prefix": null,
                    "Character Set": "UTF-8",
                    "Attributes to Log Regular Expression": ".*"
                },
                "propertyDescriptors": {
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore Regular Expression": {
                        "name": "Attributes to Ignore Regular Expression",
                        "displayName": "Attributes to Ignore Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Prefix": {
                        "name": "Log Prefix",
                        "displayName": "Log Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log Regular Expression": {
                        "name": "Attributes to Log Regular Expression",
                        "displayName": "Attributes to Log Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "461b07a9-019d-1000-a365-aa9ff2e75f23",
                "instanceIdentifier": "21662a25-d881-3583-eceb-c228e34b34ac",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": 72.0,
                    "y": 600.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "Attributes to Ignore Regular Expression": null,
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false",
                    "Log Prefix": null,
                    "Character Set": "UTF-8",
                    "Attributes to Log Regular Expression": ".*"
                },
                "propertyDescriptors": {
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore Regular Expression": {
                        "name": "Attributes to Ignore Regular Expression",
                        "displayName": "Attributes to Ignore Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Prefix": {
                        "name": "Log Prefix",
                        "displayName": "Log Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log Regular Expression": {
                        "name": "Attributes to Log Regular Expression",
                        "displayName": "Attributes to Log Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "fadcf7e0-0220-30d8-a7d9-3201228c26ca",
                "instanceIdentifier": "461a9c5f-019d-1000-6cca-2752942dd3bc",
                "name": "PutDatabaseRecord",
                "comments": "",
                "position": {
                    "x": -168.0,
                    "y": 392.0
                },
                "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Table Name": "${table.name}",
                    "Quote Column Identifiers": "true",
                    "Max Wait Time": "0 seconds",
                    "Database Connection Pooling Service": "95fd6014-f135-3491-b080-273b8eeb2a6d",
                    "Delete Keys": null,
                    "Record Reader": "798f49ca-d5ec-3797-be2f-dd553dd1e7aa",
                    "Quote Table Identifiers": "true",
                    "Schema Name": "public",
                    "Database Session AutoCommit": "false",
                    "Unmatched Field Behavior": "Ignore Unmatched Fields",
                    "Database Name": "warehouse",
                    "Allow Multiple SQL Statements": "false",
                    "Rollback On Failure": "false",
                    "Update Keys": null,
                    "Field Containing SQL": null,
                    "Database Dialect Service": null,
                    "Data Record Path": null,
                    "Statement Type Record Path": null,
                    "Column Name Translation Pattern": null,
                    "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
                    "Binary String Format": "UTF-8",
                    "Unmatched Column Behavior": "Fail on Unmatched Columns",
                    "Database Type": "PostgreSQL",
                    "Post-Processing SQL": null,
                    "Translate Field Names": "true",
                    "Statement Type": "INSERT",
                    "Pre-Processing SQL": null,
                    "Table Schema Cache Size": "100",
                    "Maximum Batch Size": "1000"
                },
                "propertyDescriptors": {
                    "Table Name": {
                        "name": "Table Name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Column Identifiers": {
                        "name": "Quote Column Identifiers",
                        "displayName": "Quote Column Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection Pooling Service": {
                        "name": "Database Connection Pooling Service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Delete Keys": {
                        "name": "Delete Keys",
                        "displayName": "Delete Keys",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Reader": {
                        "name": "Record Reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Table Identifiers": {
                        "name": "Quote Table Identifiers",
                        "displayName": "Quote Table Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Session AutoCommit": {
                        "name": "Database Session AutoCommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unmatched Field Behavior": {
                        "name": "Unmatched Field Behavior",
                        "displayName": "Unmatched Field Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Name": {
                        "name": "Database Name",
                        "displayName": "Database Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Multiple SQL Statements": {
                        "name": "Allow Multiple SQL Statements",
                        "displayName": "Allow Multiple SQL Statements",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Rollback On Failure": {
                        "name": "Rollback On Failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Update Keys": {
                        "name": "Update Keys",
                        "displayName": "Update Keys",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Field Containing SQL": {
                        "name": "Field Containing SQL",
                        "displayName": "Field Containing SQL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Dialect Service": {
                        "name": "Database Dialect Service",
                        "displayName": "Database Dialect Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Record Path": {
                        "name": "Data Record Path",
                        "displayName": "Data Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Statement Type Record Path": {
                        "name": "Statement Type Record Path",
                        "displayName": "Statement Type Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Column Name Translation Pattern": {
                        "name": "Column Name Translation Pattern",
                        "displayName": "Column Name Translation Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Column Name Translation Strategy": {
                        "name": "Column Name Translation Strategy",
                        "displayName": "Column Name Translation Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Binary String Format": {
                        "name": "Binary String Format",
                        "displayName": "Binary String Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unmatched Column Behavior": {
                        "name": "Unmatched Column Behavior",
                        "displayName": "Unmatched Column Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Type": {
                        "name": "Database Type",
                        "displayName": "Database Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Post-Processing SQL": {
                        "name": "Post-Processing SQL",
                        "displayName": "Post-Processing SQL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Translate Field Names": {
                        "name": "Translate Field Names",
                        "displayName": "Translate Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Statement Type": {
                        "name": "Statement Type",
                        "displayName": "Statement Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Pre-Processing SQL": {
                        "name": "Pre-Processing SQL",
                        "displayName": "Pre-Processing SQL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Table Schema Cache Size": {
                        "name": "Table Schema Cache Size",
                        "displayName": "Table Schema Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Batch Size": {
                        "name": "Maximum Batch Size",
                        "displayName": "Maximum Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "retry"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "3f6af98d-d6e8-3b75-a59a-121b3e720c71",
                "instanceIdentifier": "461a6a33-019d-1000-f2d1-ffe5aa599614",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -168.0,
                    "y": -280.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "table.name": "raw_${filename:substringBefore('.')}",
                    "Cache Value Lookup Cache Size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "table.name": {
                        "name": "table.name",
                        "displayName": "table.name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Cache Value Lookup Cache Size": {
                        "name": "Cache Value Lookup Cache Size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "425db7ff-fd21-3ba3-ad6f-79db23390f76",
                "instanceIdentifier": "462c5d38-019d-1000-7093-3a28a32457f8",
                "name": "",
                "source": {
                    "id": "d1884495-93a3-33eb-8d27-c89e7f86c2bd",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "UpdateDatabaseTable",
                    "comments": "",
                    "instanceIdentifier": "462c2b75-019d-1000-08f1-d2953564731b"
                },
                "destination": {
                    "id": "fadcf7e0-0220-30d8-a7d9-3201228c26ca",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "PutDatabaseRecord",
                    "comments": "",
                    "instanceIdentifier": "461a9c5f-019d-1000-6cca-2752942dd3bc"
                },
                "labelIndex": 0,
                "zIndex": 7,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "66dac341-49c7-32f6-982c-99463491ecc2",
                "instanceIdentifier": "461b56a7-019d-1000-8712-58b4536d8906",
                "name": "",
                "source": {
                    "id": "fadcf7e0-0220-30d8-a7d9-3201228c26ca",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "PutDatabaseRecord",
                    "comments": "",
                    "instanceIdentifier": "461a9c5f-019d-1000-6cca-2752942dd3bc"
                },
                "destination": {
                    "id": "16f884ed-7ba0-3007-9471-15bd42a18b96",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "461ae684-019d-1000-4592-fbcdc06d634a"
                },
                "labelIndex": 0,
                "zIndex": 3,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "dc906eac-96ae-3731-8517-05d6ff139b0d",
                "instanceIdentifier": "462c441f-019d-1000-974e-9c775f75126a",
                "name": "",
                "source": {
                    "id": "3f6af98d-d6e8-3b75-a59a-121b3e720c71",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "461a6a33-019d-1000-f2d1-ffe5aa599614"
                },
                "destination": {
                    "id": "d1884495-93a3-33eb-8d27-c89e7f86c2bd",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "UpdateDatabaseTable",
                    "comments": "",
                    "instanceIdentifier": "462c2b75-019d-1000-08f1-d2953564731b"
                },
                "labelIndex": 0,
                "zIndex": 6,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "0cd7e943-65b2-3632-b035-ea95af1ce5e1",
                "instanceIdentifier": "462c97b5-019d-1000-ad40-8a6034499ca1",
                "name": "",
                "source": {
                    "id": "d1884495-93a3-33eb-8d27-c89e7f86c2bd",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "UpdateDatabaseTable",
                    "comments": "",
                    "instanceIdentifier": "462c2b75-019d-1000-08f1-d2953564731b"
                },
                "destination": {
                    "id": "621b6a01-3155-32f9-9565-18b1c02b8558",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "462c8506-019d-1000-0e64-53dcece4c81c"
                },
                "labelIndex": 0,
                "zIndex": 8,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "b7b0e563-ddf8-348b-ad95-18eca2f4eb0f",
                "instanceIdentifier": "462be5e2-019d-1000-6af3-e4d0e11b8c1d",
                "name": "",
                "source": {
                    "id": "c263ff5a-d888-3d32-9e42-370df15c43c9",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "GetFile",
                    "comments": "",
                    "instanceIdentifier": "461a46af-019d-1000-4912-66f5f15706e6"
                },
                "destination": {
                    "id": "3f6af98d-d6e8-3b75-a59a-121b3e720c71",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "461a6a33-019d-1000-f2d1-ffe5aa599614"
                },
                "labelIndex": 0,
                "zIndex": 5,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "b5ba6d62-b18f-325e-8800-8cbc9f7a837e",
                "instanceIdentifier": "461b6921-019d-1000-6bba-f552c3908c5a",
                "name": "",
                "source": {
                    "id": "fadcf7e0-0220-30d8-a7d9-3201228c26ca",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "PutDatabaseRecord",
                    "comments": "",
                    "instanceIdentifier": "461a9c5f-019d-1000-6cca-2752942dd3bc"
                },
                "destination": {
                    "id": "461b07a9-019d-1000-a365-aa9ff2e75f23",
                    "type": "PROCESSOR",
                    "groupId": "59459370-56a2-3111-97ef-c8cf2de3279b",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "21662a25-d881-3583-eceb-c228e34b34ac"
                },
                "labelIndex": 0,
                "zIndex": 4,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "798f49ca-d5ec-3797-be2f-dd553dd1e7aa",
                "instanceIdentifier": "461cb8ac-019d-1000-87ec-d7a0d9b0b63e",
                "name": "CSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Schema Branch": null,
                    "Schema Reference Reader": null,
                    "Schema Text": "${avro.schema}",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "Value Separator": ",",
                    "Schema Registry": null,
                    "Treat First Line as Header": "true",
                    "Schema Access Strategy": "csv-header-derived",
                    "Ignore CSV Header Column Names": "false",
                    "Schema Name": "${schema.name}",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Trim Double Quote": "true",
                    "Null String": null,
                    "Trim Fields": "true",
                    "Schema Version": null,
                    "Time Format": null,
                    "Comment Marker": null,
                    "Allow Duplicate Header Names": "true",
                    "CSV Parser": "commons-csv",
                    "Character Set": "UTF-8"
                },
                "propertyDescriptors": {
                    "Schema Branch": {
                        "name": "Schema Branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Reader": {
                        "name": "Schema Reference Reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Text": {
                        "name": "Schema Text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Registry": {
                        "name": "Schema Registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Treat First Line as Header": {
                        "name": "Treat First Line as Header",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Access Strategy": {
                        "name": "Schema Access Strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore CSV Header Column Names": {
                        "name": "Ignore CSV Header Column Names",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Name": {
                        "name": "Schema Name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Double Quote": {
                        "name": "Trim Double Quote",
                        "displayName": "Trim Double Quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Version": {
                        "name": "Schema Version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Duplicate Header Names": {
                        "name": "Allow Duplicate Header Names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Parser": {
                        "name": "CSV Parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.8.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "95fd6014-f135-3491-b080-273b8eeb2a6d",
                "instanceIdentifier": "46170298-019d-1000-4cfd-a8fdabee01c3",
                "name": "DBCPConnectionPool",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "2.8.0"
                },
                "properties": {
                    "Maximum Idle Connections": "8",
                    "Database Driver Locations": "/opt/nifi/drivers/postgresql-42.7.10.jar",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "org.postgresql.Driver",
                    "Minimum Idle Connections": "0",
                    "Kerberos User Service": null,
                    "Max Total Connections": "8",
                    "Validation Query": null,
                    "Database Password Provider": null,
                    "Database Connection URL": "jdbc:postgresql://postgres:5432/warehouse",
                    "Password Source": "PASSWORD",
                    "Time Between Eviction Runs": "-1",
                    "Database User": "data",
                    "Soft Minimum Evictable Idle Time": "-1",
                    "Maximum Connection Lifetime": "-1",
                    "Minimum Evictable Idle Time": "30 mins"
                },
                "propertyDescriptors": {
                    "Maximum Idle Connections": {
                        "name": "Maximum Idle Connections",
                        "displayName": "Maximum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Locations": {
                        "name": "Database Driver Locations",
                        "displayName": "Database Driver Locations",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "URL",
                                "FILE",
                                "DIRECTORY"
                            ]
                        }
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Idle Connections": {
                        "name": "Minimum Idle Connections",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Kerberos User Service": {
                        "name": "Kerberos User Service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Validation Query": {
                        "name": "Validation Query",
                        "displayName": "Validation Query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Password Provider": {
                        "name": "Database Password Provider",
                        "displayName": "Database Password Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password Source": {
                        "name": "Password Source",
                        "displayName": "Password Source",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Between Eviction Runs": {
                        "name": "Time Between Eviction Runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Soft Minimum Evictable Idle Time": {
                        "name": "Soft Minimum Evictable Idle Time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum Connection Lifetime": {
                        "name": "Maximum Connection Lifetime",
                        "displayName": "Maximum Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum Evictable Idle Time": {
                        "name": "Minimum Evictable Idle Time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.8.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            },
            {
                "identifier": "3da7ca45-e96d-36b4-b059-2f6ee98c2bfb",
                "instanceIdentifier": "463a5eb0-019d-1000-e2b4-ccbf0ad7e2ae",
                "name": "StandardDatabaseDialectService",
                "comments": "",
                "type": "org.apache.nifi.database.dialect.service.StandardDatabaseDialectService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-database-dialect-service-nar",
                    "version": "2.8.0"
                },
                "properties": {},
                "propertyDescriptors": {},
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.database.dialect.service.api.DatabaseDialectService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.8.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "59459370-56a2-3111-97ef-c8cf2de3279b"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}